<!DOCTYPE html>
<html>
<head>
	<title>Cogitari Media</title>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:900|Ubuntu" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body onscroll="scrolling(event)">
<div style="overflow: hidden; width: 100%;">
	<header>
		<div id="menubar" style="text-align: left; max-width: 1200px;">
			<div style="width: 200px;float: right;"><a href="#logo_banner" style="margin-top: 10px;"><img src="img/Cogitari-logo-aqua-02@2x.png" style="height: 30px;"></a></div>
		</div>
	</header>
	<div id="content" style=" perspective: 2000px; perspective-origin: 0px 400px;">
		<div id="contact_info" style="position:absolute; z-index: 5; top: 50px;  color: #7a7a7a;">
			<p><i>
				Cogitari Media <br>
				Dragarbrunnsg. 54 <br>
				75320 Uppsala <br>
				<a href="mailto:andreas.wwjd@gmail.com" target="_top">andreas.wwjd@gmail.com</a><br>
				<a href="tel://0046-708236172">+46 70 823 61 72</a>
			</i></p>
		</div>
		<div id="logo_banner"></div>
		<div id="sections" style="position: relative;"></div>
	</div>
</div>
<script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>